/**
* Author: Roia L Tembo
**/

/*--------------------------------------------------------------
# Variable Declarations
--------------------------------------------------------------*/

:root {
  --background-color: #8E4162;
  --primary-color: #6EC1E4; 
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

img {
  max-width: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px 80px;
}

.navbar h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}